@import '../../index.css';

.cal_box {
  width: fit-content;
  min-width: 119px;
  height: 76px;
  padding: 14px 18px;
  margin-left: auto;
  border-radius: 12px;
  background-color: var(--orange-1, #ef8964);
}
.cal_ellips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--beige, #efa082);
  margin-bottom: 4px;
}
.icon_run {
  width: 12px;
  height: 12px;
  fill: var(--white, #efede8);
}

.cal {
  color: var(--white, #efede8);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-right: 8px;
}
.cal_text {
  color: var(--vievs-text, #efede8a6);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}
@media (min-width: 768px) {
  .cal_box {
    width: fit-content;
    min-width: 180px;
    height: 110px;
    padding: 14px 38px 14px 28px;
  }
  .cal_ellips {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
  }
  .icon_run {
    width: 16px;
    height: 16px;
  }
  .cal {
    font-size: 48px;
    line-height: 1.04;
    margin-right: 11px;
  }
  .cal_text {
    font-size: 16px;
    line-height: 1.5;
  }
}
