@import '../../index.css';

.signup_part {
  background: linear-gradient(
    330deg,
    rgba(4, 4, 4, 0) 8%,
    rgba(0, 0, 0, 0.8) 40%
  );
}
.text_box {
  max-width: 335px;
  margin-bottom: 28px;
}
.signup_title {
  color: var(--white, #efede8);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 14px;
}
.signup_text {
  color: var(--border, #efede84d);
  font-size: 14px;
  line-height: 1.28;
}
.signin_option {
  margin-top: 12px;
  color: var(--secondary-text-color-1, #efede899);
  font-size: 12px;
  line-height: 1.5;
}
.signin_link {
  color: var(--white, #efede8);
  text-decoration-line: underline;
}

@media (min-width: 768px) {
  .signup_part {
    background: none;
  }
  .text_box {
    min-width: 496px;
    margin-bottom: 32px;
  }
  .signup_title {
    font-size: 32px;
    line-height: 1.37;
    margin-bottom: 16px;
  }
  .signup_text {
    font-size: 16px;
    line-height: 1.5;
  }
}
