@import '../../index.css';

.welcome_section {
  background-image: url(../../assets/Welcome/images/people-training-gym-mob.webp),
    var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: 298px;
  background-position: bottom right;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .welcome_section {
    background-image: url(../../assets/Welcome/images/people-training-gym-mob-2x.webp),
      var(--bg-gradient);
    background-repeat: no-repeat;
  }
}
.welcome_container {
  position: relative;
  padding-top: 180px;
  padding-bottom: 40px;
}
.insert_part {
  position: absolute;
  top: 66px;
}
.ststistics {
  max-width: 298px;
  margin-left: auto;
  margin-top: 320px;
}

@media (min-width: 768px) {
  .welcome_section {
    background: url(../../assets/Welcome/images/people-training-gym-tab.webp),
      var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: 437px;
    background-position: bottom right;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .welcome_section {
      background-image: url(../../assets/Welcome/images/people-training-gym-tab-2x.webp),
        var(--bg-gradient);
    }
  }
  .welcome_container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .insert_part {
    top: 105px;
  }
  .ststistics {
    max-width: 437px;
    margin-top: 582px;
  }
}
@media (min-width: 1440px) {
  .welcome_section {
    background-image: url(../../assets/Welcome/images/people-training-gym-desk.webp),
      var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: 670px;
    background-position: bottom right;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .welcome_section {
      background-image: url(../../assets/Welcome/images/people-training-gym-desk-2x.webp),
        var(--bg-desk-gradient);
    }
    .welcome_container {
      padding-top: 0;
      padding-bottom: 0;
    }
    .insert_part {
      top: 200px;
    }
    .ststistics {
      max-width: 670px;
      margin-top: -84px;
      margin-right: -64px;
      padding-top: 384px;
      padding-bottom: 172px;
    }
  }
}
