@import '../node_modules/modern-normalize/modern-normalize.css';

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    url('../public/fonts/roboto-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/roboto-v30-latin-regular.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/roboto-v30-latin-regular.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../public/fonts/roboto-v30-latin-regular.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../public/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src:
    url('../public/fonts/roboto-v30-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/roboto-v30-latin-500.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/roboto-v30-latin-500.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../public/fonts/roboto-v30-latin-500.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../public/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src:
    url('../public/fonts/roboto-v30-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/roboto-v30-latin-700.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/roboto-v30-latin-700.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../public/fonts/roboto-v30-latin-700.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../public/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: #efede8;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}
