@import '../node_modules/modern-normalize/modern-normalize.css';

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    url('../public/fonts/roboto-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/roboto-v30-latin-regular.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/roboto-v30-latin-regular.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../public/fonts/roboto-v30-latin-regular.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../public/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src:
    url('../public/fonts/roboto-v30-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/roboto-v30-latin-500.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/roboto-v30-latin-500.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../public/fonts/roboto-v30-latin-500.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../public/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src:
    url('../public/fonts/roboto-v30-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/roboto-v30-latin-700.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/roboto-v30-latin-700.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../public/fonts/roboto-v30-latin-700.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../public/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root {
  --white: #efede8;
  --red: #E9101D;
  --green: #419B09;
  --secondary-text-color: #efede866;
  --orange: #e6533c;
  --orange-1: #ef8964;
  --beige: #efa082;
  --black: #040404;
  --dashboard-bg-color: #efede80d;
  --error-color: #d80027;
  --success-color: #3cbf61;
  --dashboard-border-color: 1px solid #efede833;
  --border: #efede84d;
  --vievs-text: #efede8a6;
  --semi-black: #04040400;
  --grey: #303030;
  --secondary-text-color-1: #efede899;
  --bg-gradient: linear-gradient(
      170deg,
      var(--black, #040404) 3.66%,
      var(--semi-black, #04040400) 19.15%
    ),
    linear-gradient(
      73deg,
      var(--black, #040404) 6.11%,
      var(--semi-black, #04040400) 66.68%
    );
  --bg-desk-gradient: linear-gradient(
    80deg,
    var(--black, #040404) -2.45%,
    var(--semi-black, #04040400) 68.17%
  );
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  background-color: var(--black, #040404);
  color: var(--white, #efede8);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  /* outline: 10px solid red; */
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;

    /* max-width: 1439px; */
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
