@import '../../index.css';

.page_part {
  position: relative;
  padding-top: 180px;
}
.insert_part {
  position: absolute;
  top: 66px;
  background: linear-gradient(
    140deg,
    var(--black, #040404) 65%,
    var(--semi-black, #04040400) 88%
  );
}
.text_box {
  max-width: 335px;
  margin-bottom: 28px;
}
.signin_title {
  color: var(--white, #efede8);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 14px;
}
.signin_text {
  color: var(--border, #efede84d);
  font-size: 14px;
  line-height: 1.28;
}
.signin_form {
  display: flex;
}
.signup_option {
  margin-top: 12px;
  color: var(--secondary-text-color-1, #efede899);
  font-size: 12px;
  line-height: 1.5;
}
.signup_link {
  color: var(--white, #efede8);
  text-decoration-line: underline;
}

.welcome_bgd {
  max-width: 298px;
  height: 100%;
  margin-left: auto;
  margin-right: -20px;
  padding: 319px 20px 40px 44px;
  background-image: url(../../assets/Welcome/images/people-training-gym-mob.webp),
    var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .welcome_bgd {
    background-image: url(../../assets/Welcome/images/people-training-gym-mob-2x.webp),
      var(--bg-gradient);
  }
}

.video_box {
  display: flex;
  gap: 8px;
  padding: 14px 18px;
  align-items: center;
  width: 146px;
  height: 66px;
  margin-bottom: 70px;
  border-radius: 12px;
  background-color: var(--grey, #303030);
}
.ellips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orange-1, #ef8964);
}
.icon_play {
  width: 12px;
  height: 12px;
}
.views {
  color: var(--white, #efede8);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  margin-bottom: 4px;
}
.views_text {
  color: var(--vievs-text, #efede8a6);
  font-size: 12px;
  line-height: 1.33;
}
.cal_box {
  width: 119px;
  height: 76px;
  padding: 14px 18px;
  margin-left: auto;
  border-radius: 12px;
  background-color: var(--orange-1, #ef8964);
}
.cal_ellips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--beige, #efa082);
  margin-bottom: 4px;
}
.icon_run {
  width: 12px;
  height: 12px;
  fill: var(--white, #efede8);
}

.cal {
  color: var(--white, #efede8);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-right: 8px;
}
.cal_text {
  color: var(--vievs-text, #efede8a6);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}
@media (min-width: 768px) {
  .page_part {
    padding-top: 48px;
  }
  .insert_part {
    top: 105px;
    background: none;
  }
  .text_box {
    min-width: 496px;
    margin-bottom: 32px;
  }
  .signin_title {
    font-size: 32px;
    line-height: 1.37;
    margin-bottom: 16px;
  }
  .signin_text {
    font-size: 16px;
    line-height: 1.5;
  }

  .welcome_bgd {
    max-width: 437px;
    padding: 583px 32px 48px 0;
    margin-right: -32px;
    background: url(../../assets/Welcome/images/people-training-gym-tab.webp),
      var(--bg-gradient);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .welcome_bgd {
      background-image: url(../../assets/Welcome/images/people-training-gym-tab-2x.webp),
        var(--bg-gradient);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .video_box {
    width: 206px;
    height: 96px;
    gap: 12px;
    padding: 20px 36px 20px 23px;
    margin-bottom: 56px;
    align-items: end;
  }
  .ellips {
    width: 40px;
    height: 40px;
  }
  .icon_play {
    width: 20px;
    height: 20px;
  }
  .views {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
  }
  .views_text {
    font-size: 16px;
    line-height: 1.5;
  }
  .cal_box {
    width: 180px;
    height: 110px;
    padding: 14px 38px 14px 28px;
  }
  .cal_ellips {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
  }
  .icon_run {
    width: 16px;
    height: 16px;
  }
  .cal {
    font-size: 48px;
    line-height: 1.04;
    margin-right: 11px;
  }
  .cal_text {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .page_part {
    padding-top: 0;
  }
  .insert_part {
    top: 200px;
  }
  .welcome_bgd {
    max-width: 670px;
    margin-top: -84px;
    padding: 384px 32px 172px 0;
    background-image: url(../../assets/Welcome/images/people-training-gym-desk.webp),
      var(--bg-desk-gradient);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .welcome_bgd {
      background-image: url(../../assets/Welcome/images/people-training-gym-desk-2x.webp),
        var(--bg-desk-gradient);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .video_box {
    margin-bottom: 40px;
  }
}
